*{
    margin: 0;
}

.app{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button{
    position: absolute;
    bottom: 10px;
    left: 50%;
    border-radius: 50%;
    overflow: hidden;
    border:1px solid #ddd;
    transform: translate(-50%,-10px);
}

::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}